<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tyyd.ywpt.dao.distcenter.dataobject.DistCenterDomain" >
  <resultMap id="baseResultMap" type="DistCenterDomain" >
    <id column="id" property="id"  />
    <result column="key_name" property="keyName"  />
    <result column="key_value" property="keyValue"  />
    <result column="key_comments" property="keyComments"  />
    <result column="key_type" property="keyType"  />
    <result column="key_column" property="keyColumn"  />
    
  </resultMap>
  

	<select id="list_all_dist_center_config" resultMap="baseResultMap">
		select id,key_name,key_value,key_comments,key_type,key_column from b_dist_config 
	</select>

</mapper>