<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tyyd.ywpt.dao.stat.mysql.dataobject.MyawrQueryReviewHistoryDomain" >
  <resultMap id="BaseResultMap" type="MyawrQueryReviewHistoryDomain" >
    	<result column="db_max" property="dbMax"  />
		<result column="CHECKSUM" property="checkSum"  />
		<result column="sample" property="sample"  />
		<result column="exec_count" property="execCount"  />
		<result column="query_time_sum" property="queryTimeSum"  />
		<result column="lock_time_sum" property="lockTimeSum"  />
		<result column="rows_sent_sum" property="rowsSentSum"  />
		<result column="rows_examined_sum" property="rowsExaminedSum"  />
		<result column="rows_affected_sum" property="rowsAffectedSum"  />
		<result column="full_scan_cnt" property="fullScanCnt"  />
		<result column="full_join_cnt" property="fullJoinCnt"  />
		<result column="tmp_table_cnt" property="tmpTableCnt"  />
		<result column="tmp_table_on_disk_cnt" property="tmpTableOnDiskCnt"  />
		<result column="filesort_cnt" property="fileSortCnt"  />
		<result column="filesort_on_disk_cnt" property="filesortOnDistCnt"  />
  </resultMap>
  
    <resultMap id="singleBaseResultMap" type="MyawrQueryReviewHistoryDomain" extends="BaseResultMap">
    	<result column="ts_max" property="tsMax"  />
    	<result column="ts_min" property="tsMin"  />
    	<result column="minDate" property="minDate"/>
    	<result column="maxDate" property="maxDate"/>
    	<result column="gmt_created" property="gmtCreated"/>
  </resultMap>
  
  
  <resultMap id="SqlResultMap" type="MyawrQueryReviewDomain" >
  		<result column="CHECKSUM" property="checkSum"  />
		<result column="fingerprint" property="fingerPrint"  />
		<result column="sample" property="sample"  />
		<result column="first_seen" property="firstSeen"  />
		<result column="last_seen" property="lastSeen"  />
		<result column="minDate" property="minDate"/>
    	<result column="maxDate" property="maxDate"/>
  </resultMap>
  
  
    <select id="list_mysql_awr_stat" parameterType="java.util.Map" resultMap="BaseResultMap">
	  	
	  	select * from (
	  	SELECT  db_max,
	  			CHECKSUM,
	  			sample,
	  			IFNULL(SUM(ts_cnt),0) exec_count,
	  			IFNULL(SUM(query_time_sum),0) query_time_sum,
				IFNULL(SUM(lock_time_sum),0) lock_time_sum,
				IFNULL(SUM(rows_sent_sum),0) rows_sent_sum,
				IFNULL(SUM(rows_examined_sum),0) rows_examined_sum,
				IFNULL(SUM(rows_affected_sum),0) rows_affected_sum,
				IFNULL(SUM(full_scan_cnt),0) full_scan_cnt,
				IFNULL(SUM(full_join_cnt),0) full_join_cnt,
				IFNULL(SUM(tmp_table_cnt),0) tmp_table_cnt,
				IFNULL(SUM(tmp_table_on_disk_cnt),0) tmp_table_on_disk_cnt,
				IFNULL(SUM(filesort_cnt),0) filesort_cnt,
				IFNULL(SUM(filesort_on_disk_cnt),0) filesort_on_disk_cnt 
			 FROM myawr_query_review_history
			  WHERE dbid_max = #{dbId} 
			  	AND db_max IS NOT NULL
			 <![CDATA[
			    AND  ts_max >= str_to_date(#{startTime},'%Y-%m-%d %H:%i:%s')
			    AND ts_max <= str_to_date(#{endTime},'%Y-%m-%d %H:%i:%s')
			 ]]> 
			    GROUP BY db_max,CHECKSUM,sample
			  ) t   
			    
			    <if test="sortColumn == ''">
			    	ORDER BY query_time_sum DESC 
			    </if>
			    <if test="sortColumn != ''">
			    	ORDER BY ${sortColumn} ${sortType} 
			    </if>
			    LIMIT 20
				  
  	</select>
  	
  	
  	 <select id="is_exists_my_awr_query_review_history" parameterType="java.util.Map" resultType="java.lang.Long">
	  	
	  	SELECT  count(1)
			 FROM myawr_query_review_history
			  WHERE dbid_max = #{dbId} 
			  	AND db_max IS NOT NULL
			 <![CDATA[
			    AND  ts_max >= str_to_date(#{startTime},'%Y-%m-%d %H:%i:%s')
			    AND ts_max <= str_to_date(#{endTime},'%Y-%m-%d %H:%i:%s')
			 ]]> 
			   
				  
  	</select>
  
  
   	<select id="load_mysql_awr_stat_by_checksum" parameterType="java.util.Map" resultMap="singleBaseResultMap">
	  	select * from (
	  	SELECT  db_max,
	  			CHECKSUM,
	  			ts_min,
		  		ts_max, 
		  		date_format(ts_min,'%Y-%m-%d %H:%i:%s') minDate,
		  		date_format(ts_max,'%Y-%m-%d %H:%i:%s') maxDate,
		  		sample,
		  		IFNULL(ts_cnt,0)  exec_count, 
		  		IFNULL(query_time_sum,0) query_time_sum,
				IFNULL(lock_time_sum,0) lock_time_sum,
				IFNULL(rows_sent_sum,0) rows_sent_sum,
				IFNULL(rows_examined_sum,0) rows_examined_sum,
				IFNULL(rows_affected_sum,0) rows_affected_sum,
				IFNULL(full_scan_cnt,0) full_scan_cnt,
				IFNULL(full_join_cnt,0) full_join_cnt,
				IFNULL(tmp_table_cnt,0) tmp_table_cnt,
				IFNULL(tmp_table_on_disk_cnt,0) tmp_table_on_disk_cnt,
				IFNULL(filesort_cnt,0) filesort_cnt,
				IFNULL(filesort_on_disk_cnt,0) filesort_on_disk_cnt,
				UNIX_TIMESTAMP(DATE_FORMAT(ts_max,'%Y-%m-%d %H:%i'))  gmt_created
			 FROM myawr_query_review_history
			  WHERE dbid_max = #{dbId} 
			  AND db_max IS NOT NULL
			<![CDATA[
			    AND  ts_max >= str_to_date(#{startTime},'%Y-%m-%d %H:%i:%s')
			    AND ts_max <= str_to_date(#{endTime},'%Y-%m-%d %H:%i:%s')
			 ]]> 
			    AND CHECKSUM = #{checkSum} ORDER BY ts_max limit 500
			) t order by gmt_created asc	  
  	</select>
  
  
  
   	<select id="load_mysql_sql_awr_stat_by_checksum" parameterType="java.util.Map" resultMap="SqlResultMap">
	  	
	  	SELECT  CHECKSUM,
	  			fingerprint,
			  	sample,
			  	first_seen,
			  	last_seen ,
			  	date_format(first_seen,'%Y-%m-%d %H:%i:%s') minDate,
		  		date_format(last_seen,'%Y-%m-%d %H:%i:%s') maxDate
			  FROM myawr_query_review
		 	WHERE CHECKSUM = #{checkSum} 
				  
  	</select>
  
  
  
  
</mapper>