<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- 控制台输出 -->
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p [%c.%M(%L)] %m%n" />
		</layout>
	</appender>


	<!-- all文件输出 -->
	<appender name="ALL" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="Append" value="true" />
		<param name="File" value="${com.tyyd.ywpt.report.logging.root}/report-all.log" />
		<param name="Encoding" value="${com.tyyd.ywpt.report.logging.file.encoding}"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p [%c.%M(%L)] %m%n" />
		</layout>
	</appender>
	
	
	<!-- error文件输出 -->
	<appender name="ERRORFILE" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="Append" value="true" />
		<param name="File" value="${com.tyyd.ywpt.report.logging.root}/report-error.log" />
		<param name="Encoding" value="${com.tyyd.ywpt.report.logging.file.encoding}"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p [%c.%M(%L)] %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">  
            <param name="levelMin" value="error" />  
            <param name="levelMax" value="error" />  
            <param name="AcceptOnMatch" value="true" />  
        </filter>  
	</appender>


	<!-- sql文件输出 -->
	<appender name="SQL" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="Append" value="true" />
		<param name="File"
			value="${com.tyyd.ywpt.report.logging.root}/sql/report-sql.log" />
		<param name="Encoding" value="UTF-8"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p [%c.%M(%L)] %m%n" />
		</layout>
	</appender>
	
	

	<!-- 定义SQL日志 -->
	<logger name="org.mybatis" additivity="false">
		<level value="debug" />
		<appender-ref ref="SQL" />
		<appender-ref ref="CONSOLE" />
	</logger>
	
	<logger name="com.tyyd.ywpt.dao" additivity="false">
		<level value="debug" />
		<appender-ref ref="SQL" />
		<appender-ref ref="CONSOLE" />
	</logger>
	
	<logger name="org.springframework.jdbc" additivity="false">
		<level value="debug" />
		<appender-ref ref="SQL" />
		<appender-ref ref="CONSOLE" />
	</logger>
	
	
	
	<root>
		<level value="${com.tyyd.ywpt.report.logging.level}" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="ALL" />
		<appender-ref ref="ERRORFILE" /> 
	</root>

</log4j:configuration>