<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tyyd.ywpt.dao.oratools.dataobject.OraToolsDomain" >

	<resultMap id="BaseResultMap" type="OraToolsDomain" >
	    <result column="info_id" property="info_id"  />
	    <result column="consumer_id" property="consumer_id"  />
	    <result column="curusepoint" property="curusepoint"  />
	    <result column="usedpoint" property="usedpoint"  />
	    <result column="lastyear_point" property="lastyear_point"  />
  	</resultMap>
  
	
	<select id="test_tools" parameterType="java.util.Map" resultMap="BaseResultMap">
			select info_id, consumer_id, curusepoint, usedpoint, lastyear_point
			  from (select a.*, rownum rn
			          from (select info_id,
			                       consumer_id,
			                       curusepoint,
			                       usedpoint,
			                       lastyear_point
			                  from t_consumer_point_info PARTITION(${p4})) a
			      <![CDATA[   where rownum <= #{p1} 
			           and info_id <= #{p2})
			 where rn > #{p3} ]]>
	</select>
  
  
  	<update id="change_schema" >
  		alter session set current_schema=ytxt
  	</update>
  
</mapper>