<style type ="text/css">

.fu_list {
	width: 500px;
	border: 1px solid #ebebeb;
	line-height: 20px;
	font-size: 12px;
}

.fu_list thead td {
	background-color: #ebebeb;
}

.fu_list td {
	padding: 5px;
}

.fu_list a {
	outline: none; /*ff*/
	hide-focus: expression(this.hideFocus = true); /*ie*/
}

.fu_list a:link,.fu_list a:visited,.fu_list a:hover,.fu_list a:active {
	text-decoration: none;
	color: #333;
}

.fu_list thead a {
	padding-right: 15px;
}

.fu_list thead a.up,.fu_list thead a.down {
	background: url() right center no-repeat;
}

.fu_list thead a.down {
	background-image: url();
}

.hoverTr {
	background-color: Orange;
}
</style>