<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tyyd.ywpt.dao.fbfk.dataobject.DbTableSubTaskDomain" >
  <resultMap id="baseResultMap" type="DbTableSubTaskDomain" >
    <id column="task_id" property="taskId"  />
    <result column="db_table_sub_classify_id" property="dbTableSubClassifyId"  />
    <result column="job_name" property="jobName"  />
    <result column="job_remark" property="jobRemark"  />
    <result column="job_cron_tab" property="jobCronTab"  />
    <result column="job_time" property="jobTime"  />
    <result column="status" property="status"  />
    <result column="job_type" property="jobType"  />
    <result column="table_name" property="tableName"  />
    <result column="exec_script" property="execScript"  />
    <result column="gmt_created" property="gmtCreated"  />
    <result column="gmt_modifed" property="gmtModifed"  />
  </resultMap>
  
  <select id="list_db_table_sub_tasks" resultMap="baseResultMap">
  	
  	select 
  		task_id,
		db_table_sub_classify_id,
		job_name,
		job_remark,
		job_cron_tab,
		job_time,
		status,
		job_type,
		table_name,
		exec_script,
		gmt_created,
		gmt_modifed
	from b_db_table_sub_task 
		where job_time >= now() 
	<![CDATA[ 	and job_time <= DATE_ADD(now(),INTERVAL 15 MINUTE) ]]>
		and status = 0 
  	
  </select>
  
  
  <update id="update_db_table_sub_task_by_task_id" parameterType="java.util.Map">
  	update b_db_table_sub_task set status = #{status} where task_id = #{taskId}
  </update>
  
</mapper>  