<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tyyd.ywpt.dao.mysql.dataobject.MySQLStatDomain" >
  <resultMap id="baseResultMap" type="MySQLStatDomain" >
    <id column="VARIABLE_NAME" property="variableName"  />
    <id column="VARIABLE_VALUE" property="variableValue"  />
  </resultMap>
  
  <select id="get_myql_stats_by_dbid" parameterType="java.util.Map" resultMap="baseResultMap">
  		SELECT * FROM information_schema.`GLOBAL_STATUS` 
  		<if test="variables != null">
  			where VARIABLE_NAME in
        <foreach collection="variables" item="variables" index="index"
            open="(" close=")" separator=",">
            #{variables}
        </foreach>
  		
  		</if>
  </select>
  
  
     <select id="get_current_date" resultType="java.lang.String">
  		SELECT CURRENT_DATE() FROM DUAL 
  	</select>
  
</mapper>  