<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tyyd.ywpt.dao.alert.record.dataobject.AlertNotifyRecordDomain" >
  <resultMap id="BaseResultMap" type="AlertNotifyRecordDomain" >
    <id column="id" property="id"  />
    <result column="alert_record_id" property="alertRecordId"  />
    <result column="recevice_mails" property="receviceMails"  />
    <result column="mobile_mails" property="mobileMails"  />
    <result column="user_id" property="userId"  />
    <result column="is_complete" property="isComplete"  />
    <result column="gmt_created" property="gmtCreated"  />
    <result column="gmt_modifed" property="gmtModifed"  />
    <result column="notice_type" property="noticeType"/>
  </resultMap>
  
  
  <insert id="add_alert_notify_record" parameterType="AlertNotifyRecordDomain">
  	insert into b_alert_notify_record (alert_record_id,recevice_mails,mobile_mails,user_id,is_complete,gmt_created,gmt_modifed,notice_type)
  	values(#{alertRecordId},#{receviceMails},#{mobileMails},#{userId},'1',now(),now(),#{noticeType})
  </insert>
  
  <select id="query_alert_notify_record_by_alert_id" parameterType="java.lang.String" resultMap="BaseResultMap">
  		select id,alert_record_id,recevice_mails,mobile_mails,user_id,is_complete,gmt_created,gmt_modifed ,notice_type
  		from b_alert_notify_record where alert_record_id = #{alertRecordId}
  </select>
  
  <update id="update_alert_notify_record_by_id" parameterType="java.lang.String">
  	update b_alert_notify_record set is_complete='1' where id= #{id}
  </update>
  
  

  
</mapper>  