<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tyyd.ywpt.dao.alert.logalert.dataobject.DbLogAlertDomain" >
  <resultMap id="BaseResultMap" type="DbLogAlertDomain" >
    <id column="id" property="id"  />
    <result column="db_id" property="dbId"  />
    <result column="alert_msg" property="alertMsg"  />
    <result column="is_completed" property="isCompleted"  />
    <result column="msg_md5" property="msgMd5"  />
    <result column="gmt_created" property="gmtCreated"  />
    <result column="gmt_modifed" property="gmtModifed"  />
    <result column="port" property="port"  />
    <result column="ip_addr" property="ipAddr"  />
    <result column="nick_name" property="nickName"  />
    <result column="host_id" property="hostId"  />
    <result column="db_type" property="configType"  />
    <result column="alert_type" property="alertType"/>
    <result column="sent_phone" property="isPhoneSent"/>
  </resultMap>
  
  
  <select id="list_no_completed_alert" parameterType="java.lang.String" resultMap="BaseResultMap">
  		select  e.id,
  				e.db_id,
  				e.alert_msg,
  				e.is_completed,
  				e.msg_md5,
  				e.gmt_created,
  				e.gmt_modifed,
  				db.port,
  				g.ip_addr,
  				g.nick_name,
  				db.db_type,
  				db.host_id,
  				e.alert_type,
  				e.sent_phone
  		from b_error_msg e,b_db_config db,b_host_config g 
  		 where is_completed = 'N' and g.host_id = db.host_id and db.db_id = e.db_id order by gmt_created limit 100
  </select>
  
  <update id="update_no_completed_alert_by_id" parameterType="java.lang.String">
  	update b_error_msg set is_completed='Y' where id= #{id}
  </update>
  
</mapper>  