<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tyyd.ywpt.dao.configration.relation.dataobject.DbRelationDomain" >
  <resultMap id="BaseResultMap" type="DbRelationDomain" >
    <id column="id" property="id"  />
    <result column="host_id" property="hostId"  />
    <result column="db_id" property="dbId"  />
    <result column="relation_type" property="relationType"  />
    <result column="is_readonly" property="isReadonly"  />
    <result column="is_master" property="isMaster"  />
    <result column="batch_id" property="batchId"  />
    <result column="gmt_created" property="gmtCreated"  />
    <result column="gmt_modifed" property="gmtModifed"  />
    <result column="nick_name" property="nickName"/>
    <result column="host_name" property="hostName"/>
  </resultMap>
  
  <insert id="add_data_base_relation" parameterType="DbRelationDomain">
  	insert into b_db_relation (id, host_id, db_id, 
      relation_type, is_readonly, is_master, 
      batch_id, gmt_created, 
      gmt_modifed)
    values (#{id}, #{hostId}, #{dbId}, 
      #{relationType}, #{isReadonly}, #{isMaster}, 
      #{batchId}, now(), 
      now())
  </insert>
  
  
  <delete id="delete_data_base_relation" parameterType="java.lang.String">
  		delete from b_db_relation where batch_id = #{batchId}
  </delete>
  
  
  <select id="list_db_relation" parameterType="java.lang.String" resultMap="BaseResultMap">
  		select
			r.id,
			r.host_id,
			r.db_id,
			r.relation_type,
			r.is_readonly,
			r.is_master,
			r.batch_id,
			r.gmt_created,
			r.gmt_modifed ,
			h.host_name,
			d.nick_name
		from b_db_relation r ,b_host_config h,b_db_config d 
		where h.host_id = r.host_id and d.db_id = r.db_id
		and batch_id = #{batchId}
  </select>
  
</mapper>