<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tyyd.ywpt.dao.core.collect.disk.dataobject.DiskMonitorDomain" >
  <resultMap id="BaseResultMap" type="DiskMonitorDomain" >
    <result column="host_id" property="hostId" />
    <result column="disk_name" property="diskName" />
    <result column="used" property="used"  />
    <result column="remain" property="remain"  />
    <result column="used_percent" property="usedPercent"  />
    <result column="gmt_created" property="gmtCreated"  />
    <result column="gmt_modifed" property="gmtModifed"  />
  </resultMap>
  
   <resultMap id="totalBaseResultMap" type="DiskMonitorDomain" >
    <result column="used" property="used"  />
    <result column="remain" property="remain"  />
  </resultMap>

  <insert id="add_disk_monitor" parameterType="DiskMonitorDomain" >
    insert into b_disk_monitor (host_id, disk_name, 
      used, remain, used_percent, gmt_created, 
      gmt_modifed,threshold_type,critical_quota_value,warn_quota_value)
    values (#{hostId}, #{diskName}, 
      #{used}, #{remain}, #{usedPercent}, now(),now(),#{thresholdType},#{criticalQuotaValue},#{warnQuotaValue} ) 
  </insert>


	<delete id="delete_disk_monitor" parameterType="java.lang.String">
		delete from b_disk_monitor where host_id = #{hostId} 
	</delete>

	<select id="list_disk_monitor" parameterType="java.lang.String" resultMap="BaseResultMap">
		select host_id, disk_name, used, remain, used_percent, gmt_created, gmt_modifed
		from b_disk_monitor where host_id = #{hostId}
	</select>
	
	
	<select id="total_disk_info" parameterType="java.lang.String" resultMap="totalBaseResultMap">
		select sum(used) used, sum(remain) remain
		from b_disk_monitor where host_id = #{hostId}
	</select>
	
	
	<select id="get_disk_monitor_by_id" parameterType="java.util.Map" resultMap="BaseResultMap">
		select host_id, disk_name, used, remain, used_percent, gmt_created, gmt_modifed
		from b_disk_monitor where host_id = #{hostId} and disk_name = #{diskName}
	
	</select>
	
	
	<update id="update_disk_info" parameterType="java.util.Map">
		update b_disk_monitor set
			 used = #{used}, 
			 remain = #{remain}, 
			 used_percent = #{usedPercent}
		where host_id = #{hostId} and disk_name = #{diskName}
	</update>

</mapper>