<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tyyd.ywpt.dao.configration.job.dataobject.JavaJobDefDomain" >
  <resultMap id="BaseResultMap" type="JavaJobDefDomain" >
    <id column="id" property="id"  />
    <result column="name" property="name"  />
    <result column="pak_class" property="packClass"  />
    <result column="remark" property="remark"  />
    <result column="sys_type" property="sysType"  />
    <result column="bean_prefix" property="beanPrefix"  />
  </resultMap>
  
  
  <select id="get_job_def_by_id" parameterType="java.lang.Long" resultMap="BaseResultMap">
  		select id, name, pak_class, remark, sys_type, bean_prefix from b_java_job_def where id = #{id}
  </select>
  
</mapper>