<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tyyd.ywpt.dao.alert.record.dataobject.MoitorAlertRecordDomain">
	<resultMap id="BaseResultMap" type="MoitorAlertRecordDomain">
		<id column="id" property="id" />
		<id column="rn" property="rn" />
		<result column="monitor_id" property="monitorId" />
		<result column="quota_id" property="quotaId" />
		<result column="quota_name" property="quotaName"  />
		<result column="sys_type" property="sysType" />
		<result column="content" property="content" />
		<result column="gmt_created" property="gmtCreated" />
		<result column="gmt_modifed" property="gmtModifed" />
		<result column="notice_level" property="noticeLevel" />
		<result column="monitor_type" property="monitorType" />
		<result column="signmd5" property="signmd5"/>
	</resultMap>
	
	<resultMap id="hostPageQueryMap" type="MoitorAlertRecordDomain" extends="BaseResultMap">
		<result column="nick_name" property="nickName"/>
		<result column="ip_addr" property="ipAddr"/>
	</resultMap>
	
	<resultMap id="dbPageQueryMap" type="MoitorAlertRecordDomain" extends="hostPageQueryMap">
		<result column="port" property="port"/>
	</resultMap>


	<insert id="add_moitor_alert_record" parameterType="MoitorAlertRecordDomain">
		insert into b_monitor_alert_record (
				monitor_id, 
			    quota_id, 
			    quota_name, 
			    sys_type, 
			    content, 
			    gmt_created, 
			    gmt_modifed,
			    notice_level,
			    monitor_type,
			    signmd5)
	    values (
	    	  #{monitorId}, 
		      #{quotaId}, 
		      #{quotaName}, 
		      #{sysType}, 
		      #{content}, 
		      <if test="gmtCreated != null and gmtCreated != ''">
		      	#{gmtCreated},
		      </if>
		       <if test="gmtCreated == null or gmtCreated == ''">
		      	now(),
		      </if>
		      now(),
		      #{noticeLevel},
		      #{monitorType},
		      #{signmd5}
		)
	</insert>

	<delete id="del_monitor_alert_record" parameterType="java.lang.Long">
		delete from b_monitor_alert_record where id = #{id}
	</delete>


	<select id="list_monitor_alert_record" parameterType="java.util.Map">
		 select id              ,
				monitor_id      ,
				sys_type        ,
				quota_name		,
				quota_id        ,
				notice_level    ,
				monitor_type    ,
				content         ,
				signmd5         ,
				gmt_created     ,
				gmt_modifed 
		  from b_monitor_alert_record 
		  	where monitor_id = #{monitorId} and sys_type = #{sysType} and notice_level = #{noticeLevel}
	</select>


	<select id="is_exist_monitor_alert_record" parameterType="MoitorAlertRecordDomain" resultType="java.lang.Integer">
		select count(1) from b_monitor_alert_record 
			where monitor_id = #{monitorId} and sys_type = #{sysType}
			<if test="monitorType == 2 ">
				 and quota_id = #{quotaId}
			</if>
			
			<if test="monitorType == 3 or monitorType == 4">
				 and quota_name = #{quotaName} 
			</if>
			
			<if test=" monitorType == 5 ">
				 and signmd5=#{signmd5}
			</if>
	</select>
	
	
	<select id="list_pandect_host_monitor_alert" >
		select g.nick_name,g.ip_addr,t1.monitor_id,t1.notice_level,t1.tsize  from b_host_config g,(
			select monitor_id ,notice_level,count(1) tsize from b_monitor_alert_record 
				where sys_type = 1 group by monitor_id ,notice_level) t1
		where g.host_id = monitor_id 
			
	</select>
	
	
	<select id="list_pandect_db_monitor_alert" parameterType="java.util.Map" >
		select g.nick_name,h.ip_addr,t1.monitor_id,t1.notice_level,t1.tsize  from b_host_config h,b_db_config g,(
			select monitor_id ,notice_level,count(1) tsize from b_monitor_alert_record 
				where sys_type = #{dbType} group by monitor_id ,notice_level) t1
		where g.db_id = monitor_id and g.host_id = h.host_id
			
	</select>
	
	
	<select id="list_host_pagequery_count" parameterType="java.util.Map" resultType="java.lang.Integer">
		select count(1) from 
			b_monitor_alert_record r,
			b_host_config g 
		where  sys_type = 1 AND r.`monitor_id` = g.`host_id` and g.status = 0
		<if test="hostId != null and hostId != '' ">
			and r.monitor_id = #{hostId}
		</if>
		<if test="startDate != null and startDate != ''">
			  	AND r.gmt_created >= STR_TO_DATE(#{startDate},'%Y-%m-%d %H:%i:%s') 
		  </if>
		  <if test="endDate != null and endDate != ''">
		 	<![CDATA[  	AND r.gmt_created <= STR_TO_DATE(#{endDate},'%Y-%m-%d %H:%i:%s') ]]>
		  </if>
	</select>
	
	
	<select id="list_host_pagequery" parameterType="java.util.Map" resultMap="hostPageQueryMap">
	
		SELECT 
		  @rownum:=@rownum+1 AS rn,
		  r.id,
		  r.monitor_id,
		  r.sys_type,
		  r.quota_name,
		  r.quota_id,
		  r.notice_level,
		  r.monitor_type,
		  r.content,
		  r.signmd5,
		  r.gmt_created,
		  r.gmt_modifed,
		  g.`nick_name`,
		  g.`ip_addr`  
		FROM
		  b_monitor_alert_record r,
		  b_host_config g ,
		  (SELECT @rownum:=#{startRowNumber}) rnn
		WHERE r.sys_type = 1 AND r.`monitor_id` = g.`host_id` and g.status = 0
		<if test="hostId != null and hostId != '' ">
			and r.monitor_id = #{hostId}
		</if>
		<if test="startDate != null and startDate != ''">
			  	AND r.gmt_created >= STR_TO_DATE(#{startDate},'%Y-%m-%d %H:%i:%s') 
		  </if>
		  <if test="endDate != null and endDate != ''">
		 	<![CDATA[  	AND r.gmt_created <= STR_TO_DATE(#{endDate},'%Y-%m-%d %H:%i:%s') ]]>
		  </if>
		order by r.gmt_modifed desc limit #{startRowNumber},#{endRowNumber} 
		
	</select>
	
	<select id="list_db_pageQuery" parameterType="java.util.Map" resultMap="dbPageQueryMap">
		SELECT 
		  @rownum:=@rownum+1 AS rn,
		  r.id,
		  r.monitor_id,
		  r.sys_type,
		  r.quota_name,
		  r.quota_id,
		  r.notice_level,
		  r.monitor_type,
		  r.content,
		  r.signmd5,
		  r.gmt_created,
		  r.gmt_modifed,
		  db.`nick_name`,
		  g.`ip_addr` ,
		  db.`port`
		FROM
		  b_monitor_alert_record r,
		  b_host_config g,
		  b_db_config db ,
		  (SELECT @rownum:=#{startRowNumber}) rnn
		WHERE r.sys_type = #{dbType} 
		  AND r.`monitor_id` = db.`db_id` 
		  AND db.`host_id` = g.`host_id` 
		  and db.status = 0 and g.status = 0
		  <if test="dbId != null and dbId != '' "> 
		  	AND db.`db_id` = #{dbId}
		  </if>
		  <if test="startDate != null and startDate != ''">
			  	AND r.gmt_created >= STR_TO_DATE(#{startDate},'%Y-%m-%d %H:%i:%s') 
		  </if>
		  <if test="endDate != null and endDate != ''">
		 	<![CDATA[  	AND r.gmt_created <= STR_TO_DATE(#{endDate},'%Y-%m-%d %H:%i:%s') ]]>
		  </if>
		  order by r.gmt_modifed desc limit #{startRowNumber},#{endRowNumber} 
	</select>
	
	<select id="list_db_pageQuery_count" parameterType="java.util.Map" resultType="java.lang.Integer">
		SELECT 
		  count(1)
		FROM
		  b_monitor_alert_record r,
		  b_host_config g,
		  b_db_config db 
		WHERE r.sys_type = #{dbType} 
		  AND r.`monitor_id` = db.`db_id` 
		  AND db.`host_id` = g.`host_id`
		  <if test="dbId != null and dbId != '' "> 
		  	AND db.`db_id` = #{dbId}
		  </if>
		  <if test="startDate != null and startDate != ''">
			  	AND r.gmt_created >= STR_TO_DATE(#{startDate},'%Y-%m-%d %H:%i:%s') 
		  </if>
		  <if test="endDate != null and endDate != ''">
		 	<![CDATA[  	AND r.gmt_created <= STR_TO_DATE(#{endDate},'%Y-%m-%d %H:%i:%s') ]]>
		  </if>
		  and db.status = 0 and g.status = 0
	</select>
	
	
	<select id="list_monitor_pageQuery" parameterType="java.util.Map" resultMap="dbPageQueryMap">
		select 
			@rownum:=@rownum+1 AS rn,
			id,
			monitor_id,
			sys_type,
			quota_name,
			quota_id,
			notice_level,
			monitor_type,
			content,
			signmd5,
			gmt_created,
			gmt_modifed,
			nick_name,
			ip_addr,
			port
		from (
			SELECT 
			  r.id,
			  r.monitor_id,
			  r.sys_type,
			  r.quota_name,
			  r.quota_id,
			  r.notice_level,
			  r.monitor_type,
			  r.content,
			  r.signmd5,
			  r.gmt_created,
			  r.gmt_modifed,
			  g.nick_name,
			  g.ip_addr,
			  '' port 
			FROM
			  b_monitor_alert_record r,
			  b_host_config g 
			WHERE r.sys_type = 1 
			  AND r.monitor_id = g.host_id 
			  AND g.status = 0 
			  AND r.gmt_created >= STR_TO_DATE(#{lastQueryDay},'%Y-%m-%d') 
			UNION
			SELECT 
			  r.id,
			  r.monitor_id,
			  r.sys_type,
			  r.quota_name,
			  r.quota_id,
			  r.notice_level,
			  r.monitor_type,
			  r.content,
			  r.signmd5,
			  r.gmt_created,
			  r.gmt_modifed,
			  db.nick_name,
			  g.ip_addr,
			  db.port 
			FROM
			  b_monitor_alert_record r,
			  b_host_config g,
			  b_db_config db 
			WHERE r.sys_type IN (2, 3) 
			  AND r.monitor_id = db.db_id 
			  AND db.host_id = g.host_id 
			  AND db.status = 0 
			  AND g.status = 0 
			  AND r.gmt_created >= STR_TO_DATE(#{lastQueryDay},'%Y-%m-%d')  
		) t,(SELECT @rownum:=#{startRowNumber}) rnn order by gmt_modifed desc limit ${startRowNumber},${endRowNumber} 
	</select>
	
	
	<select id="list_monitor_pageQuery_count" parameterType="java.util.Map" resultType="java.lang.Integer">
		select count(1) from b_monitor_alert_record where gmt_created >= STR_TO_DATE(#{lastQueryDay},'%Y-%m-%d')  
		
	</select>


	<update id="update_last_modifytime" parameterType="MoitorAlertRecordDomain">
		update b_monitor_alert_record set gmt_modifed=now()
			where monitor_id = #{monitorId} and sys_type = #{sysType}
			<if test="monitorType == 2 ">
				 and quota_id = #{quotaId}
			</if>
			
			<if test="monitorType == 3 or monitorType == 4">
				 and quota_name = #{quotaName} 
			</if>
			
			<if test=" monitorType == 5 ">
				 and signmd5=#{signmd5}
			</if>
	</update>


</mapper>  