<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tyyd.ywpt.dao.external.netsense.dataobject.NetSenseDataDomain" >
  <resultMap id="BaseResultMap" type="NetSenseDataDomain" >
    <result column="id" property="id"  />
    <result column="error_name" property="error_name"  />
    <result column="domain_name" property="domain_name"  />
    <result column="connetct_time" property="connetct_time"  />
    <result column="delay" property="delay"  />
    <result column="file_size" property="file_size" />
    <result column="return_code" property="return_code"/>
    <result column="status" property="status" />
    <result column="network" property="network" />
    <result column="time" property="time" />
    <result column="dns" property="dns" />
    <result column="dev_name" property="dev_name" />
    <result column="dev_area" property="dev_area" />
  </resultMap>
  
  
  <select id="get_lastid" resultType="java.lang.Long">
  	select lastid from b_net_sense_monitor_lastid
  </select>
  
  
  <insert id="add_lastid" parameterType="java.lang.Long">
  	insert into b_net_sense_monitor_lastid(lastid) values(#{id})
  </insert>
  
  <update id="update_lastid" parameterType="java.util.Map">
  	update b_net_sense_monitor_lastid set lastid = #{nowId} where lastid = #{oldId} 
  </update>
  
  
  <insert id="add_net_sense_data" parameterType="NetSenseDataDomain">
  	insert into b_net_sense_monitor(
		error_name,
		domain_name,
		connetct_time,
		delay,
		file_size,
		return_code,
		status,
		network,
		time,
		dns,
		dev_name,
		dev_area
  	) values(
  		#{error_name},
		#{domain_name},
		#{connetct_time},
		#{delay},
		#{file_size},
		#{return_code},
		#{status},
		#{network},
		#{time},
		#{dns},
		#{dev_name},
		#{dev_area}
  	)
  </insert>
  
  
  
</mapper>