<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tyyd.ywpt.dao.admin.resource.dataobject.ResouceDomain">
	<resultMap id="resultMap" type="ResouceDomain">
		<id column="id" property="id" />
		<result column="parent_id" property="parentId" />
		<result column="resouce_name" property="resouceName" />
		<result column="url" property="url" />
		<result column="status" property="status" />
		<result column="gmt_created" property="gmtCreated" />
		<result column="gmt_modifed" property="gmtModifed" />
	</resultMap>



	<select id="list_resource_by_parentId" parameterType="java.lang.String"
		resultMap="resultMap">
		select id, parent_id, resouce_name, url, status, gmt_created, gmt_modifed
		from t_resouce
		where parent_id = #{parentId} and status = '0'
	</select>

	<sql id="page_resource_where">
		where and status = '0' 
		<if test="resouceName != null and resouceName != ''"> and resouce_name like CONCAT('%',#{resouceName},'%') </if>
	</sql>

	<select id="page_resource" parameterType="java.util.Map"
		resultMap="resultMap">
		select id, parent_id, resouce_name, url, status, gmt_created,
		gmt_modifed from t_resouce
		<include refid="page_resource_where" />
		order by gmt_created desc limit #{startRowNumber},#{endRowNumber}
	</select>

	<select id="page_resource_count" parameterType="java.util.Map"
		resultType="java.lang.Integer">
		select count(1) from t_resouce
		<include refid="page_resource_where" />
	</select>


	<select id="query_resource_by_id" parameterType="java.lang.String" resultMap="resultMap">
		select 
			id, parent_id, resouce_name, url, status, gmt_created,gmt_modifed 
		from t_resouce where id = #{id} and status = '0'
	</select>
	
	

	<insert id="add_resource" parameterType="ResouceDomain">
		insert into t_resouce (
						id, 
						parent_id, 
						resouce_name,
						url, 
						status, 
						gmt_created,
						gmt_modifed)
		values (
						#{id}, 
						#{parentId}, 
						#{resouceName},
						#{url}, 
						'0', 
						now(),
						now()
				)
	</insert>

	<update id="modify_resource" parameterType="ResouceDomain">
		update t_resouce
		<set>
			<if test="parentId != null and parentId !=''">
				parent_id = #{parentId},
			</if>
			<if test="resouceName != null and resouceName!=''">
				resouce_name = #{resouceName},
			</if>
			<if test="url != null and url != ''">
				url = #{url},
			</if>
		</set>
		where id = #{id}
	</update>


	<delete id="del_resource" parameterType="java.lang.String">
		update t_resouce set status =1 where id = #{id}
	</delete>

</mapper>