<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tyyd.ywpt.dao.admin.privis.dataobject.RolePrivDomain">
	<resultMap id="privRoleResultMap" type="RolePrivDomain">
		<id column="role_id" property="roleId" />
		<id column="resouce_id" property="resouceId" />
		<result column="gmt_created" property="gmtCreated" />
		<result column="gmt_modifed" property="gmtModifed" />
	</resultMap>

	<select id="query_priv_by_role" resultMap="privRoleResultMap" parameterType="java.lang.String">
		select 
			role_id, resouce_id, gmt_created, gmt_modifed 
		from t_role_priv where role_id = #{roleId}
	</select>


	<delete id="del_privs_by_role" parameterType="java.lang.String">
		delete from t_role_priv where role_id = #{roleId}
	</delete>

	<insert id="add_role_priv" parameterType="RolePrivDomain">
		insert into t_role_priv 
			(role_id, resouce_id,  gmt_created,gmt_modifed)
		values (#{roleId}, #{resouceId},now(),now())
	</insert>

</mapper>