<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tyyd.ywpt.dao.stat.oracle.dataobject.OracleDbaHisActiveSessEventDomain" >
  <resultMap id="BaseResultMap" type="OracleDbaHisActiveSessEventDomain" >
    	<result column="user_id" property="userid"  />
    	<result column="sql_id" property="sqlId" />
    	<result column="EVENT" property="event" />
    	<result column="session_id" property="sessionId" />
    	<result column="p1" property="pOne" />
    	<result column="p2" property="pTwo" />
    	<result column="p3" property="pThree" />
    	<result column="sample_time" property="sampleTime" />
  </resultMap>
  
  <select id="list_events_by_sample_time" parameterType="java.util.Map" resultMap="BaseResultMap">
  		
  		SELECT
	       s.user_id ,
	       s.sql_id,
	       CASE 
		    WHEN s.SESSION_STATE = 'WAITING' THEN CONCAT(EVENT , ' ' , FLOOR(s.time_waited / 1000))
		    WHEN s.SESSION_STATE = 'ON CPU'  THEN CONCAT(SESSION_STATE , ' ' , FLOOR(s.wait_time / 1000))
		    ELSE s.SESSION_STATE  
			END EVENT,
	       CONCAT(IFNULL(s.blocking_session,s.session_id) ,' ',IF(s.blocking_session,s.session_id,'')) session_id,
	       s.p1,
	       CASE 
		    WHEN EVENT = 'cursor: pin S wait on X' 
			THEN CASE WHEN FLOOR(p2/4294967296) = 0 THEN FLOOR(P2/65536) ELSE FLOOR(P2/4294967296) END
		    ELSE p2 
			END p2, 
	       s.p3,
	       DATE_FORMAT(SAMPLE_TIME,'%Y-%m-%d %H:%i:%s') sample_time
	  FROM dba_hist_active_sess_history s
	 WHERE sample_time = #{sampleTime}
	   AND s.DBID = #{databaseId} 
	   AND s.INSTANCE_NUMBER = #{instanceId}
	 ORDER BY session_id

  </select>
  
  
</mapper>  